page-home {
    .scroll-content {
        overflow: hidden;
      }
    
    .content {
        background: radial-gradient(
          rgba(0, 0, 0, 0.1), 
          rgba(0, 0, 0, 0.2)
        ), url("./../../assets/imgs/map.png");
        background-repeat: no-repeat;
        background-position-x: center;
        background-size: cover;

        &.pin_active {
            background: radial-gradient(
                rgba(0, 0, 0, 0.3), 
                rgba(0, 0, 0, 0.7)
            ), url("./../../assets/imgs/map.png");
            background-repeat: no-repeat;
            background-position-x: center;
            background-size: cover;
        }
        ion-searchbar.searchbar {
            // padding: 0;
            width: 85%;
            margin: 0 auto;
            margin-top: 40px;
            box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.2), 0 0px 10px 0 rgba(0, 0, 0, 0.19);
            .searchbar-input-container{      
                .searchbar-input{
                    border-radius: 0px;
                }
            }
        }

        ion-item.item.item-block {
            text-align: center;
            background: none;
            padding: 0;
            
             .item-inner {
                padding: 0;
                border: none;

                .label {
                    margin-right: 0;
                    overflow: visible;
                    
                    ion-avatar {
                        vertical-align: middle;
                        display: inline-block;
                        border-radius: 50%; 
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                        margin: 0 5px;
                        background-color: white;
                        min-width: 15px;
                        min-height: 15px;
                        padding: 3px;

                        img {
                            width: 15px;
                            height: 15px;
                        }

                        &.selected{
                            min-width: 40px;
                            min-height: 40px;
                            box-shadow: 0px 0px 5px 5px #fff;

                            img{
                                width: 40px;
                                height: 40px;
                            }
                        }

                        &.sibling {
                            min-width: 30px;
                            min-height: 30px;

                            img{
                                width: 30px;
                                height: 30px;
                            }
                        }
                    }
                }
            }
        }

        ion-slides {
            height: auto;
            width: 70%;
            margin: 0 auto;

            .swiper-wrapper {
                padding: 20px 0;
                
                ion-slide {
                    vertical-align: middle;
                    display: inline-block;
                    // margin: 0 !important;
                
                    &.swiper-slide-active {
                        // min-width: 34px;
                        // min-height: 34px;
                        // box-shadow: 0px 0px 5px 5px #fff;
                        // border-radius: 50%;
                        // overflow: hidden;
                        width: 50px !important;
                        overflow: visible;

                        ion-avatar {
                            box-shadow: 0px 0px 5px 5px #fff;
                            border-radius: 50%;
                        
                            img {
                                width: 34px;
                                height: 34px;
                            }
                        }
                    }

                    ion-avatar {
                        vertical-align: middle;
                        display: inline-block;
                        border-radius: 50%; 
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                        // margin: 0 5px;
                        background-color: white;
                        min-width: 15px;
                        min-height: 15px;
                        padding: 3px;

                        img {
                            width: 15px;
                            height: 15px;
                        }

                        &.sibling {
                            min-width: 28px;
                            min-height: 28px;

                            img{
                                width: 28px;
                                height: 28px;
                            }
                        }
                    }
                }
            }
        }

        .pin {
            position: relative;
            width: 30px;
            height: 37px;
            display: inline-block;

            &.pin_gold {
                background-image: url("./../../assets/imgs/GoldenPin.png");
                background-size: cover;
            }
            &.pin_silver {
                background-image: url("./../../assets/imgs/SilverPin.png");
                background-size: cover;
            }
            &.pin_bronze {
                background-image: url("./../../assets/imgs/BronzePin.png");
                background-size: cover;
            }
            &.pin_inactive {
                background-image: url("./../../assets/imgs/001-maps-and-flags.png");
                background-size: cover;
                background-size: contain;
                background-repeat: no-repeat;
                background-position-y: bottom;
            }

            &.pin1 {
                top: 100px;
                // left: 123px;
            }
            &.pin2 {
                top: 150px;
                // left: 100px;
            }
            &.pin3 {
                top: 306px;
                // left: 150px;
            }
            &.pin4 {
                top: 210px;
                // left: 150px;
            }
            &.pin5 {
                top: 220px;
                // left: 180px;
            }
            &.pin6 {
                top: 100px;
                // left: 100px;
            }
            &.pin7 {
                top: 150px;
                // left: 100px;
            }
            &.pin8 {
                top: 100px;
                // left: 150px;
            }
            &.pin9 {
                top: 210px;
                // left: 50px;
            }
            &.pin10 {
                top: 220px;
                // left: 18px;
            }
            &.pin11 {
                top: 100px;
                // left: 51x;
            }
            &.pin12 {
                top: 167px;
                // left: 33px;
            }
            &.pin13 {
                top: 50px;
                // left: 98px;
            }
            &.pin14 {
                top: 207px;
                // left: 80px;
            }
            &.pin15 {
                top: 220px;
                // left: 180px;
            }
        }
    }
}