page-tinder {
    ion-content {
        background: radial-gradient(
          rgba(0, 0, 0, 0.1), 
          rgba(0, 0, 0, 0.2)
        ), url("./../../assets/imgs/mapnew.png");
        background-repeat: no-repeat;
        background-position-x: right;
        background-size: cover;

  .card-container{
     display: flex;
     flex-direction: column;
     width: 100% !important;
     height: 480px;
     margin:0 !important;
  }
}
}

//colors
$white: white;
$black_80: rgba(0,0,0,0.8);
$concrete: #f2f2f2;
$color_pink_swan_approx: #bbb;
$color_dove_gray_approx: #717171;

//fonts
$font_0: Verdana;
$font_1: sans-serif;

//@extend-elements
//original selectors
//.prev, .next
%extend_1 {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: $white;
	font-weight: bold;
	font-size: 18px;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: 0.6s ease;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 0 3px 3px 0;
	//Instead of the line below you could use @include user-select($select)
	user-select: none;
}


* {
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
}
body {
	font-family: $font_0, $font_1;
	margin: 0;
}
.mySlides {
	display: none;
}
img {
	vertical-align: middle;
}
.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}
.prev {
	@extend %extend_1;
	&:hover {
		background-color: $black_80;
	}
}
.next {
	@extend %extend_1;
	right: 0;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 3px 0 0 3px;
	&:hover {
		background-color: $black_80;
	}
}
.text {
	color: $concrete;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}
.numbertext {
	color: $concrete;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: $color_pink_swan_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 50%;
	display: inline-block;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: background-color 0.6s ease;
	&:hover {
		background-color: $color_dove_gray_approx;
	}
}
.active {
	background-color: $color_dove_gray_approx;
}
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}
@-webkit-keyframes fade {
	from {
		opacity: .4;
	}
	to {
		opacity: 1;
	}
}
@keyframes fade {
	from {
		opacity: .4;
	}
	to {
		opacity: 1;
	}
}
@media only screen and(max-width: 300px) {
	.prev {
		font-size: 11px;
	}
	.next {
		font-size: 11px;
	}
	.text {
		font-size: 11px;
	}
}