page-tinder {
    ion-content {
        background: radial-gradient(
          rgba(0, 0, 0, 0.1), 
          rgba(0, 0, 0, 0.2)
        ), url("./../../assets/imgs/mapnew.png");
        background-repeat: no-repeat;
        background-position-x: right;
        background-size: cover;

  .card-container{
     display: flex;
     flex-direction: column;
     width: 100% !important;
     height: 480px;
     margin:0 !important;
  }
}
}

//colors
$white: white;
$black_80: rgba(0,0,0,0.8);
$concrete: #f2f2f2;
$color_pink_swan_approx: #bbb;
$color_dove_gray_approx: #717171;

//fonts
$font_0: Verdana;
$font_1: sans-serif;

//@extend-elements
//original selectors
//.prev, .next
%extend_1 {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: $white;
	font-weight: bold;
	font-size: 18px;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: 0.6s ease;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 0 3px 3px 0;
	//Instead of the line below you could use @include user-select($select)
	user-select: none;
}

.titleName {
	color: rgb(33, 158, 39)
}