page-tinder {
    ion-content {
        background: radial-gradient(
          rgba(0, 0, 0, 0.1), 
          rgba(0, 0, 0, 0.2)
        ), url("./../../assets/imgs/mapnew.png");
        background-repeat: no-repeat;
        background-position-x: right;
        background-size: cover;

  .card-container{
     display: flex;
     flex-direction: column;
     width: 100% !important;
     height: 480px;
     margin:0 !important;
  }
}
}