page-camera {

  > ion-content {
        background: radial-gradient(
          rgba(0, 0, 0, 0.1), 
          rgba(0, 0, 0, 0.2)
        ), url("./../../assets/imgs/map.png");
        background-repeat: no-repeat;
        background-position-x: center;
        background-size: cover;

        
        }
}
