page-camera {
  .card-container{
     display: flex;
     flex-direction: column;
     width: 100% !important;
     height: 480px;
     margin:0 !important;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
     transition: 0.3s;
     border-radius: 5px; /* 5px rounded corners */
     transition: 0.3s;
  }
}